<nav>
  <div class="nav-first-row">
    <p><%= link_to "06.62.58.86.00", pages_contact_path %><br/>
    <%= link_to "coolingtech31@gmail.com", pages_contact_path %></p>
  </div>

  <div class="rowed form-inline">
    <div>
    </div>
    <div class=nav-sections>
      <div class="nav-section">
        Éco Énergie
      </div>
      <div class="nav-section">
        Eau chaude
      </div>
      <div class="nav-section">
        Climatisation
      </div>
      <div class="nav-section">
        Chauffage
      </div>
    </div>
  </div>
</nav>
