<div class="wrapper-background">
    <%= render 'navbar' %>

  <div class="wrapper-content">
    <div class="script-page">
      <div class="script-welcome">
        <p>Tout au long de l'année, Coolingtech vous apporte le confort chez vous!</p>
      </div>
      <div class="script-content-welcome">
        <strong>Besoin de solutions pour être au chaud l'hiver et au frais l'été?
        Nos experts sont à l'écoute de vos besoins pour vous proposer les solutions les plus adaptées à vos besoins.</strong>
      </div>
    </div>
  </div>
</div>
