<div class="wrapper-background">
    <%= render 'navbar' %>

  <div class="wrapper-content">
    <div class="script-page">
      <div class="script-welcome">
        <p><em>COOLINGTECH31</em><br/> au service de votre confort.</p>
      </div>
      <div class="script-content-welcome">
        <strong>
        Nos experts sont à votre écoute et vous proposent des solutions personnalisées pour un confort optimal tout au long de l'année.</strong>
      </div>
    </div>
  </div>
</div>
