<div class="container-about">
  <div class="script-welcome">
    <p>L'expertise de <strong>Coolingtech</strong></p>
    <p>au service de votre <strong>confort</strong></p>
  </div>
  <div>
    <ul class=avatar-list-inline>
      <li class="avatar-value">value1</li>
      <li class="avatar-value">value2</li>
      <li class="avatar-value">value3</li>
    </ul>
  </div>
</div>
