<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>CHAUFFAGES</span>
        <div class="content-section2">
          <div class="content-description">
            <div>Il existe différents types de chauffages et différents types d’émetteurs de chaleurs.
              <strong>COOLINGTECTH 31</strong> est spécialisé dans l’installation de pompes à chaleur :
              un savoir-faire reconnu et référencé <%= link_to "RGE qualiPac", 'https://www.qualit-enr.org/'%>
              (entreprise Reconnue Gérant de l’Environnement).
            Afin de vous faire profiter du crédit d’impôts pour tous vos projets de rénovations.
            Notre gamme est composée d’une production par PAC ou par chaudière gaz a condensation.
            Les gammes d’émetteurs de chaleur sont:
              <ul>
              <li> Lilancher chauffant</li>
              <li> Radiateur</li>
              </ul>
              Besoin de conseils? Pour tous vos projets, faites appel a nos services!
            </div>
          </div>
          <div class= "image2">
          </div>
      </div >
      </div>
    </div>
  </div>
