<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>CLIMATISATIONS</span>
        <div class="content-section2">
          <div class="content-description">
            <div>Pour un confort en toute saison <strong>Coolingtech</strong> vous propose une large gamme de produits.
              Pour vos projets, particuliers ou professionnels, dans le neuf ou la rénovation, Coolingtech est à vos côtés.
              Nos experts ont à coeur de respecter les <%= link_to "normes RT", 'https://www.normert2012.com/'%> en matière de r
              afraîchissement ou de chauffage.<br/>Notre gamme se compose de plusieurs produits tel que :
              <ul>
              <li>Split</li>
              <li>Gainable</li>
              <li>Plafonnier</li>
              <li>Console/li>
              <li>Cassettes</li>
              <li>Armoire</li>
              </ul>
              Y compris pour des bâtiments classés, industriels ou à accès difficile, Coolingtech a la solution pour votre projet.
            </div>
          </div>
          <div class= "image2">
          </div>
      </div >
      </div>
    </div>
  </div>
