<div class="wrapper-background">
  <%= render 'navbar' %>
  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>CLIMATISATION</span>
        <div class="content-section2">
          <div class="content-description">
            <div>kjbcxjnlkynvlynclnsyjkvnksdjnvldsknvdakvhbdsjv cwkj bdsjyhv dsjhy v
              skjdckds vksjdbv k syj vlsylnvl s
              sdkjcbndskysbv ksdxbvls
              akjcndy.nvlaöm
            </div>
          </div>
          <div class= "image2">
            <%= cl_image_tag("background", width: 400, height: 300, crop: :fill) %>
          </div>
      </div >
      </div>
    </div>
  </div>
