<h1>Climatisation</h1>
<p>Pour un confort en toute saison nous proposons une large gamme de produit pour tous vos projets du Particuliers au Professionnels dans le neuf ou la rénovation tout en respectant les normes RT en matières de rafraîchissement ou de chauffage.
Cette gamme se compose de plusieurs produits tel que :

* SPLIT
* GAINABLE
* PLAFONNIER
* CONSOLE
* CASSETTES

Pour les bâtiments classé, l’industie ou les bâtiments a accès difficile il existe aussi les produits de type ARMOIRE a chaque projet sa solution.

COOLINGTECH 31 AU SERVICE DE VOTRE CONFORT
</p>
