<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>CLIMATISATIONS</span>
        <div class="content-section2">
          <div class="content-description">
            <div>Pour un confort en toute saison nous proposons une large gamme de produit pour tous vos projets du Particuliers au Professionnels dans le neuf ou la rénovation tout en respectant les normes RT en matières de rafraîchissement ou de chauffage.<br/>Cette gamme se compose de plusieurs produits tel que :
              <ul>
              <li>SPLIT</li>
              <li>GAINABLE</li>
              <li>PLAFONNIER</li>
              <li>CONSOLE</li>
              <li>CASSETTES</li>
              </ul>
              Pour les bâtiments classés, l’industie ou les bâtiments a accès difficile il existe aussi les produits de type ARMOIRE a chaque projet sa solution.
            </div>
          </div>
          <div class= "image2">
            <%= cl_image_tag("Coolingtech/clim4.png", :cloud_name => 'julie', class:"img2") %>
          </div>
      </div >
      </div>
    </div>
  </div>
