<div class="wrapper-background">
    <%= render 'navbar' %>

  <div class="wrapper-content-contact-page">
    <h1><strong>Envie de nous contacter, de suivre nos actualités?</strong></h1>
    <div class="script-page-contact">
      <div class="script-contact">
      </div>
      <div class="row">
        <div class="col-6">
          <div class="contact-details">
            <div class="script-content-welcome">
              <ul>
                <li><%#= link_to cl_image_tag("fb.png", :cloud_name => 'julie'), 'https://www.facebook.com/SASUcoolingtech31/' %>SASUcoolingtech31</li>
                <li><%#= cl_image_tag("mail.png", :cloud_name => 'julie')%> coolingtech31@gmail.com</li>
                <li><%#= cl_image_tag("tel2.png", :cloud_name => 'julie')%> 06.62.58.86.00</li>
                <li><%#= cl_image_tag("home.png", :cloud_name => 'julie')%> SASU Coolingtech31<br/> 7 impasse jacky thomas <br/>
      81370 Saint-Sulpice-La-Pointe <br/></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="contact-form">
            <%= render 'contacts/form' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
