<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>EAU CHAUDE & SANITAIRES</span>
        <div class="content-section2">
          <div class="content-description">
            <div><strong>Vous cherchez une solution économique pour votre projet?</strong><br/>Le ballon thermodynamique est sans aucun doute la solution la plus adaptée a vos besoins. Le ballon thermodynamique peut être intégré dans votre production de chauffage. Une solution 2 en 1 (production de chauffage et production d’eau chaude sanitaire) en une seule et unique installation.<br/>
            Contactez nos experts pour une étude de votre projet. <br/> L'équipe de <strong>Coolingtech31</strong> est a votre service.
            </div>
          </div>
          <div class= "image2">
            <%= cl_image_tag("Coolingtech/eau1.jpg", :cloud_name => 'julie', class:"img2") %>
          </div>
      </div >
      </div>
    </div>
  </div>
