<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>EAU CHAUDE & SANITAIRES</span>
        <div class="content-section2">
          <div class="content-description-chauffage2">
            <div>Une solution économique pour votre projet le ballon thermodynamique est de loin le système le plus adapté a vos besoins. Ce produit peut être couplée à votre production de chauffage ou intégré dans votre production de chauffage une solution 2 en 1 production de chauffage et production d’eau chaude sanitaire dans une seul et unique installation.
            Contactez nous pour une étude de votre projet notre équipe est a votre service
            </div>
          </div>
          <div class= "image2">
            <%= image_tag "eau_chaude/eau1.jpg", class:"img2" %>
          </div>
      </div >
      </div>
    </div>
  </div>

