<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>EAU CHAUDE & SANITAIRES</span>
        <div class="content-section2">
          <div class="content-description">
            <div><strong>Vous cherchez une solution économique pour votre projet?</strong><br/>Le ballon thermodynamique est de loin le système le plus adapté a vos besoins. Ce produit peut être couplé ou intégré à votre production de chauffage. Le ballon  thermodermique est une solution 2 en 1 qui permet en une seule et unique installation, à la fois la production de chauffage ainsi que celle d’eau chaude sanitaire. <br/>
            Contactez nos experts pour une étude de votre projet. <br/> L'équipe de <strong>Coolingtech</strong> est a votre service.
            </div>
          </div>
          <div class= "image2">
            <%#= cl_image_tag("Coolingtech/eau1.jpg", :cloud_name => 'julie', class:"img2") %>
          </div>
      </div >
      </div>
    </div>
  </div>
