<div class="container-layout">
  <div class="wrapper-page">
    <div class="script-title ">
      <h1>Eau chaude & sanitaires</h1>
    </div>
    <div class="container-page">
      <div class="container">
        <div class="row">
          <div class="script-description col-xs">
            <p>Une solution économique pour votre projet le ballon thermodynamique est de loin le système le plus adapté a vos besoins. Ce produit peut être couplée à votre production de chauffage ou intégré dans votre production de chauffage une solution 2 en 1 production de chauffage et production d’eau chaude sanitaire dans une seul et unique installation.
            Contactez nous pour une étude de votre projet notre équipe est a votre service
            </p>
          </div>
            <div id="carousel-card col-xs" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-card" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-card" data-slide-to="1"></li>
                <li data-target="#carousel-card" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "eau_chaude/eau1", class: "block" %>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-card" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-card" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

