<div class="container-layout">
  <div class="wrapper-page">
    <div class="script-title ">
      <h1>Eau chaude & sanitaires</h1>
    </div>
    <div class="container-page">
      <div class="container">
        <div class="row">
          <div class="script-description col-xs">
            <p>
            Le Photovoltaïque est actuellement en pleine expansion et produire son énergie est devenue la norme.
            Pour cela vous avez le choix, 3 proposions s’offrent  a vous:
            <ul>
            <li>Produire pour votre propre consommation énergétique (auto-consommation)</li>
            <li>Revandre votre énergie a votre fournisseur d’energie (Revente totale)</li>
            <li>Consommer et revendre votre énergie produites par les panneaux photovoltaïques (auto-consommation et reventes du surplus d’energie)</li>
            </ul>
            Pour l’installation,la maintenance et le depannage d’installation photovoltaïque faites appelle a notre savoir-faire

            Nos partenaires photovoltaïques: METTRE LOGO SMA

          </div>
            <div id="carousel-card col-xs" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-card" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-card" data-slide-to="1"></li>
                <li data-target="#carousel-card" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "eau_chaude/eau1", class: "block" %>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-card" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-card" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
