<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>ÉNERGIE RENOUVELABLE</span>
        <div class="content-section2">
          <div class="content-description">
            <div>Le Photovoltaïque est actuellement en pleine expansion et produire son énergie est devenu la norme.
            Vous souhaitez vous lancer? Trois solutions s'offrent à vous :
            <ul>
            <li>produire pour votre propre consommation d'énergie (auto-consommation)</li>
            <li>revandre votre énergie a votre fournisseur (revente totale)</li>
            <li>consommer et revendre votre énergie produite par les panneaux photovoltaïques (auto-consommation et reventes du surplus d’énergie)</li>
            </ul>
            Les experts de <strong>Coolingtech</strong> s'occupent de tout pour votre plus grand confort : installation, maintenance et dépannage des installations photovoltaïques. <br/>

             est notre partenaire pour le photovoltaïque.
            </div>
          </div>
          <div class= "image2">
          </div>
      </div >
      </div>
    </div>
  </div>
