<div class="wrapper-background">
  <%= render 'navbar' %>

  <div class="content-rest">
    <div class="content-page">
      <div class="content-section">
        <span>ÉNERGIE RENOUVELABLE</span>
        <div class="content-section2">
          <div class="content-description">
            <div>Le Photovoltaïque est actuellement en pleine expansion et produire son énergie est devenue la norme.
            Pour cela vous avez le choix, 3 proposions s’offrent  a vous:
            <ul>
            <li>Produire pour votre propre consommation énergétique (auto-consommation)</li>
            <li>Revandre votre énergie a votre fournisseur d’energie (Revente totale)</li>
            <li>Consommer et revendre votre énergie produites par les panneaux photovoltaïques (auto-consommation et reventes du surplus d’energie)</li>
            </ul>
            Pour l’installation,la maintenance et le depannage d’installation photovoltaïque faites appelle a notre savoir-faire

            Nos partenaires photovoltaïques: METTRE LOGO SMA
            </div>
          </div>
          <div class= "image2">
            <%= cl_image_tag("Coolingtech/photovoltaique.jpg", :cloud_name => 'julie', class:"img2") %>
          </div>
      </div >
      </div>
    </div>
  </div>

