.container-layout {
  text-align: center;
}

.container-page {
  padding: 20px;
  justify-content: space-between;
}

.container-images {
  display: flex;
}

.row {
  border-radius: 5px;
  justify-content: space-between;
}

