.row {
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
}

.wrapper-background {
  width: 100vw;
  height: 100vh;
  background-image: url("background.jpg");
}

.content {
  padding-top: 30px;
  padding-right: 20vw;
  padding-left: 20vw;
  color: white;
  font-weight: bold;
  justify-content: center;
  text-align: left;

}

.content-section {
  height: 60%;
  padding-bottom: 10%;
}

.content-page {
  display: flex;
  flex-direction: column;
  height: 68vh;
  width: 100vw;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(240, 240, 240, 0.9);
  color: rgb(1, 4, 57);
  justify-content: center;
  text-align: left;
  .content-section {
    height: 68vh;
  }
  .content-description {
    width: 50%;
  }
}

.content-description-chauffage {
  content-justify: center;
  text-align: center;
}
