.row {
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
}

.content {
  padding-top: 30px;
  padding-right: 20vw;
  padding-left: 20vw;
  color: white;
  font-weight: bold;
  justify-content: center;
  text-align: justify;

}

.content-section {
  height: 60%;
  padding-bottom: 10%;
}

.content-page {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  width: 80vw;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(1, 4, 57);
  justify-content: center;
  text-align: left;
  border-radius: 3px;
  font-family: 'Rajdhani', sans-serif;

  .content-section {
    height: 100%;
    padding-bottom: 0px;
  }
  .content-description {
    width: 50%;
  }

  div {
    padding-top: 10px;
  }
}


.content-description-chauffage2 {
  width: 50%;
  height: 100%;
  div {
    text-align: justify;
  }
}

.content-section2 {
  position: relative;
  height: 80%;
}

.script-content-welcome {
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-align: center;
}
