.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 10px;
}

#picture {
  width: 100px;
  height: 100px;
}

.images {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 80vw;
}
