.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 10px;
}

#picture {
  width: 100px;
  height: 100px;
}

.images {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 80vw;
}

.image2 {
  top: 0px;
  right: 0px;
}

.img2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(200, 200, 200);
}
