#navbar-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: center;
  background-size: cover;
  width: 28%;
  &:hover {
  box-shadow: 2px 2px 2px 2px rgba(30, 30, 30, 0.4);
  }
}

.nav-first-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  justify-content: center;
  padding-top: 5px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 20px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: rgb(200, 200, 200);
    }
  }
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vh;
  width: 5vw;
  text-align: center;
  font-size: 13px;
  margin-left: 3vw;
  justify-content: space-around;
  color: white;
  padding-top: 15px;
  padding-bottom: 12px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  img {
  width: 40px;
  object-fit: contain;
    &:hover {
      width: 50px;
    }
  }
}

.nav-sections {
  display: flex;
}


nav{
  height: 24vh;
  width: 100vw;
  margin: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(55, 99, 166, 0.3);

}


.form-inline {
  padding-top: 5px;
  opacity: 100%;
  margin-right: 0px;
  box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.4);

}
