#navbar-logo {
  height: 15vh;
  text-align: center;
  background-image: url("logo.png");
  background-size: cover;
  width: 15vw;
}

#navbar {
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}


.nav-section {
  height: 15vh;
  padding-top: 6vh;
  width: 15vw;
  text-align: center;
  &:hover {
    background-color: white;
    text-decoration: none;
    color: blue;
  }
}

nav{
  background-color: rgb(59, 89, 152);
  height: 15vh;
}


.form-inline {
  display: flex;
  a {
  text-decoration: none;
  color: white;
  height: 15vh;
  &:hover{
    text-decoration: none;
  }
}
}
