span {
  text-align: center;
  color: rgb(55, 99, 166);
  font-size: 50px;
  font-weight: 600 ;
  font-family: 'Rajdhani', sans-serif;
  margin: 0px;
  padding-top: 5px;
}

.script-welcome {
  justify-content: left;
  color: rgb(240, 240, 240);
  font-size: 50px;
  font-weight: 600 ;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

.script-contact {
  color: rgb(240, 240, 240);
  font-size: 50px;
  font-weight: 600 ;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding-top: 5px;
}

.script-page {
  background-color: rgba(55, 99, 166, 0.3);
  margin-right: 20%;
  margin-left: 20%;
  border: solid white;
  border-radius: 5px;
  padding-left: 5px;
  height: 80%;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 20, 0.3);
  p {
    font-family: 'Rajdhani', sans-serif;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
  }
}

.script-page-contact {
  background-color: rgba(55, 99, 166, 0.3);
  margin-right: 20%;
  margin-left: 20%;
  border: solid white;
  border-radius: 5px;
  padding-left: 5px;
  height: 85%;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 20, 0.3);
  p {
    font-family: 'Rajdhani', sans-serif;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
  }
}

.script-content-welcome {
  font-size: 20px;
  text-align: center;
  img {
    width: 25px;
    object-fit: contain;
  }
  ul {
    list-style: none;
    padding-top: 10px;
    li {
      padding-top: 15px;
      }
    }
}

img.icon {
  width: 90px;
  height: 45px;
  object-fit: contain;
}

.script-coolingtech {
  &:hover {
  text-decoration: none;
  color: rgb(255, 0, 0);
  }
}
