.wrapper {
  background-color: rgb(245, 245, 245);
  width: 100vw;
  height: 100vh;
}


.wrapper-page {
  height: 85vh;
  margin: 0px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  padding: 20px 40px;
  position: relative;

}
