.wrapper-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(http://res.cloudinary.com/julie/image/upload/v1538495460/Coolingtech/background.jpg);
  filter: grayscale(30%);
}

.wrapper-content {
  width: 100vw;
  height: 80%;
  padding-top: 2%;
  h1 {
  text-align: center;
  color: rgb(240, 240, 240);
  font-size: 30px;
  font-weight: 600 ;
  font-family: 'Montserrat', sans-serif;

  }
}
